# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.amazon-clone.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\EbenSandbox\amazon-clone\.idea\.idea.amazon-clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
